/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/* a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

#HomePageHeader {
  font-family: 'comic-sans';
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border: 5px solid black;
  margin-top: 0px;
  background-color: gray;
}

body {
  width: 100%;
  height: 100%;
  background-image: url('/assets/BigBend.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: lightblue;
  text-align: left;
  margin: auto;
  padding: 15%;
}

h3 {
  color: rgb(73, 67, 67);
  background-color: #afb0c4;
  border-radius: 10px;
  text-align: left;
  padding: 6px;
  position: relative;
}

h4 {
  color: rgb(73, 67, 67);
  background-color: #afb0c4;
  border-radius: 10px;
  text-align: left;
  padding: 6px;
}

h5 {
  color: rgb(73, 67, 67);
  background-color: #afb0c4;
  border-radius: 10px;
  padding: 6px;
}

p {
  color: rgb(73, 67, 67);
  background-color: #cbceeb;
  border-radius: 10px;
  padding: 6px;
}

.quote {
  color: rgb(73, 67, 67);
  font-style: italic;
  font-size: 14px;
  background-color: #cbceeb;
  border-radius: 10px;
  padding: 6px;
}

img {
  border: 5px #cbceeb;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*
-------------------
HISTORY - TIMELINE CSS BELOW:
-------------------
*/

* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.timelinedate {
  color: rgb(73, 67, 67);
  background-color: #afb0c4;
  border-radius: 10px;
  padding: 6px;
  font-size: 22px;
  font-weight: bold;
  width: fit-content;

}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.tcontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

/* The circles on the timeline */
.tcontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -50%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* Fix the circle for containers on the left side */
.left::after {
  right: -13px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
