/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/* a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

#HomePageHeader {
  font-family: 'comic-sans';
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  border: 5px solid black;
  margin-top: 0px;
  background-color: rgb(177, 169, 169);
}

.img {
  background-color: #cbceeb;
  border-radius: 10px;
  padding: 6px;
  width: fit-content;
  margin: auto;
  display: block;
}

body {
  width: 100%;
  height: 100%;
  background-image: url('/assets/BigBend.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: lightblue;
  text-align: left;
  margin: auto;
  padding-right: 10.5%;
  padding-left: 10.5%;
  padding-top: 3%;
}

.sectionheading {
  font-family: 'comic-sans';
  font-weight: bold;
  color: rgb(41, 38, 38);
  background-color: #afb0c4;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  position: relative;
}

.sectionheadingfit {
  font-family: 'comic-sans';
  font-weight: bold;
  color: rgb(41, 38, 38);
  background-color: #afb0c4;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  position: relative;
  width: fit-content;
}

.planningsubsection {
  color: rgb(73, 67, 67);
  font-weight: bold;
  font-size: 19px;
  background-color: #afb0c4;
  border-radius: 10px;
  text-align: left;
  padding: 6px;
  width: fit-content;
  text-align: center;
}

h4 {
  color: rgb(73, 67, 67);
  background-color: #afb0c4;
  border-radius: 10px;
  text-align: left;
  padding: 6px;
  margin-right: 32px;
}

h5 {
  color: rgb(73, 67, 67);
  background-color: #afb0c4;
  border-radius: 10px;
  padding: 6px;
}

p {
  color: rgb(73, 67, 67);
  background-color: #cbceeb;
  border-radius: 10px;
  padding: 6px;
}

.button {
  background-color: #be851c;
  border-radius: 12px;
  font-size: 12px;
  /* Green */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: 4px 2px; */
  cursor: pointer;
}

.tipslist {
  font-size: 16px;
  color: rgb(73, 67, 67);
  background-color: #cbceeb;
  border-radius: 10px;
  padding: 6px;
  width: fit-content;
}

ul {
  list-style-type: none;
}

li:checked {
  text-decoration: line-through;
}

input[type=checkbox]:checked+label.strikethrough {
  text-decoration: line-through;
}

/* ul input[type="checkbox"] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
} */

.quote {
  color: rgb(73, 67, 67);
  font-style: italic;
  font-size: 14px;
  background-color: #cbceeb;
  border-radius: 10px;
  padding: 0px;
  width: fit-content;
}

img {
  border: 5px #cbceeb;
  width: fit-content;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*
-------------------
DYNAMIC CHECKBOX CSS BELOW:
-------------------
*/

* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

/* body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
} */

input[type="checkbox"] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

::before {
  position: absolute;
  content: '';
  display: block;
  top: 2px;
  left: 7px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

:checked {
  color: white;
  border-color: green;
  background: green;
  text-decoration: line-through;
}

::before {
  opacity: 1;
}

/* label::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

label {
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 0.25em 0;
  user-select: none;
} */

::before {
  position: absolute;
  content: attr(data-content);
  color: lightgray;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: black;
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/*
-------------------
HISTORY - TIMELINE CSS BELOW:
-------------------
*/

* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.timelinedateright {
  color: rgb(73, 67, 67);
  background-color: #afb0c4;
  border-radius: 10px;
  padding: 6px;
  font-size: 22px;
  font-weight: bold;
  width: fit-content;
  text-align: left;
}

.timelinedateleft {
  color: rgb(73, 67, 67);
  background-color: #afb0c4;
  border-radius: 10px;
  padding: 6px;
  font-size: 22px;
  font-weight: bold;
  width: fit-content;
  text-align: right;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.tcontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

/* The circles on the timeline */
.tcontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -50%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 18px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;

}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 18px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* Fix the circle for containers on the left side */
.left::after {
  right: -13px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
