<div>
  <h2 id="HomePageHeader">The National Parks Exploration Page</h2>
</div>

<body>
<div>
  <h3 class="sectionheading">Your next adventure starts here.</h3>
  <p>The United States is home to hundreds of National Parks and park units. 
      Although there are technically 63 National Parks within the United States,
      hundreds of other 'units' (e.g., Battlefields, Lakeshores, Memorials and Military Parks)
      encompass the breadth of our American conservation efforts.
  </p>
</div>

<div class="img">
  <img src="../assets/JohnMuir.jpg" width="auto" height="400" />
  <p></p>
  <p class="quote">"The mountains are calling and I must go."</p>
  <p class="quote"> -- John Muir</p>
</div>


<br>
<h3 class="sectionheading">What is a 'National Park?'</h3>

<div>
  <p>National Parks are designed to preserve natural and cultural resources for enjoyment, education and inspiration. 
      These differ from National Forests, which exist to sustain the productivity of the Nation’s forests and grasslands 
      to meet the needs of present and future generations.</p>
</div>   

<br>
<h3 class="sectionheading">History: A Timeline</h3>
<br>

<div class="timeline">

    <div class="tcontainer left">
        <h5 class="timelinedateleft">1864</h5>
        <p>President Abraham Lincoln sets aside Yosemite Valley and the Mariposa Grove of Giant Sequoias. 
        This was the first time the federal government protected land because of its natural beauty.</p>
    </div>

    <div class="tcontainer right">
      <h5 class="timelinedateright">1872</h5>
      <p>Yellowstone National Park is established as the first National Park.</p>
    </div>

    <div class="tcontainer left">
      <h5 class="timelinedateleft">1906</h5>
      <p>President Theodore Roosevelt establishes Mesa Verde National Park, 
        the first time a national park was created to conserve man-made objects and American history.</p>
    </div>

    <div class="tcontainer right">
      <h5 class="timelinedateright">1916</h5>
      <p>President Woodrow Wilson signs the 'Organic Law' to create a National Park Service. 
        This bureau was tasked to protect the 35 existing national parks, as well as future ones.</p>
    </div>

    <div class="tcontainer left">
      <h5 class="timelinedateleft">1933</h5>
      <p>The management of over fifty national monuments and military sites -- including Gettysburg National Military Park --  
        are transferred from the War and Agriculture Departments to the National Park Service.
        In the same year, President Franklin D. Roosevelt's New Deal program established the Cilvilian Conservation Corps,
        recruiting the unemployed to plant billions of trees, fight wildfires and build roads and trails. </p>
    </div>

    <div class="tcontainer right">
      <h5 class="timelinedateright">2016</h5>
      <p>A century after the National Park Service was created, it is now responsible for more than 400 park locations 
        in all 50 states, the District of Columbia, American Samoa, Guam, Puerto Rico, Saipan and the Virgin Islands.
        One of the newest additions is Stonewall National Monument -- the first national monument that honors the history 
        of the Lesbian, Gay, Bisexual and Transgender community.</p>
    </div>
  </div>

<br>

<div class="img">
    <img src="../assets/NationalMall.jpg" width="525" height="360"/>
    <p class="quote" >The National Mall is a landscaped park within the National Mall and Memorial Parks.</p>
    <p class="quote" >Added to the National Register of Historic Places in 1966, it is an official unit </p>
    <p class="quote" >of the United States National Park System.</p>
</div>
<br>


<br>
  <h3 class="sectionheading">Over 84 million acres for conservation and recreation!</h3>
    <p>The National Park Service preserves unimpaired the natural and cultural resources and values of the National Park System 
        for the enjoyment, education, and inspiration of this and future generations. The Park Service cooperates with partners 
        to extend the benefits of natural and cultural resource conservation and outdoor recreation throughout this country and the world.</p>

</body>











<!-- <h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p> -->
