

<!-- <h4>Y'all ready for this?</h4>
<div *ngFor="let user of users">
    <p>{{user.first_Name}}</p>
</div> -->
<!--<div *ngFor="let u of users">
    <div id="user{{u.id}}" *ngIf="u.isLoggedIn">
    <p>Welcome {{u.first_Name}}!</p>
        <button (click)="LogOutUser(u.id)" >Log Out</button>


    </div>
    <div *ngIf="u.isLoggedIn===false">
        <p> Please log in below!</p>

        
    </div>

</div>-->
<div *ngIf="loggedInUser.id===0">
    <div>
        <h4>Please Login Below</h4>
    </div>
    <div id = "loginInputs">
        <p>User Name:</p>
        <input type="text" id="username" />
        <p>Password</p>
        <input type="password" id="password" />
        <button (click)="ValidateUser()">Login</button>
    <!--<div if the method above returns true, then refresh and run this page again 
    - if false, display a popup message saying that isnt a valid login></div>-->
    </div>
</div>
<div *ngIf="loggedInUser.id>0">
    <p>Welcome {{loggedInUser.first_Name}}!</p>
<!--Add User Park table here!-->
<button (click)="LogOutUser(loggedInUser)" >Log Out</button>
<!--refresh page here too-->
</div>
<div *ngIf="validLogin === false">
    <p>YOU FOOL!  Wrong password or username!</p>
    
</div>

