

<div *ngIf="loggedInUser.id===0">
    <div>
        <h4>Please Login Below</h4>
    </div>
    <div id = "loginInputs">
        <p>User Name:</p>
        <input type="text" id="username" />
        <p>Password</p>
        <input type="password" id="password" />
        <button class="button" (click)="ValidateUser()">Login</button>
        <div *ngIf="validLogin===false">
            <p>Incorrect User Name and Password - please try again.</p>
            
        </div>
    </div>
</div>
<div *ngIf="loggedInUser.id>0">
  <p style = "font-family:georgia,garamond,serif;font-size:18px;font-style:italic;">Welcome {{loggedInUser.first_Name}}, Here is your saved park list!</p> 
  
  <app-user-favorites [Id]=loggedInUser.id></app-user-favorites>
</div>


